.hfd{

    background-color: rgb(190, 188, 219);
    height: 300px;

}
/* .hfd h1{
padding-top: 100px;
} */

.gf{
    padding-top: 20px;
}
.uk{
    height: 50px;
    background-color: black;
}
.idk{
    height: 60px;
    text-align: center;
}